<!-- Fichier pour le checkout -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Définition de l'encodage de caractères en UTF-8-->
    <meta charset="UTF-8">

    <!-- Configuration de la vue initiale pour les appareils mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>

    <!-- Fichier CSS personnalisé -->
  <link rel="stylesheet" href="/css/checkout.css">

  <!-- Titre de la page -->
  <title>Payment - Creamzouz</title>

</head>

<body>

    <div class="checkout-container">

        <!-- Section Résumé de la Commande -->
        <div class="order-summary">
            <h2>Summary of the order</h2>

            <!-- Boucle pour afficher les éléments du panier -->
            <% cartItems.forEach(item => { %>
                <div class="item">

                    <!-- Nom et quantité de l'article -->
                    <p class="name"><%= item.name %> - Quantité : <%= item.quantity %></p>

                    <!-- Prix de l'article -->
                    <p class="price">$<%= typeof item.price === 'number' ? item.price.toFixed(2) : item.price %></p>

                </div>
            <% }); %>

            <!-- Total de la commande -->
            <div class="total">
                <p>TOTAL: $<%= totalPrice.toFixed(2) %></p>
            </div>

        </div>


        <!-- Section Informations de Paiement -->
        <div class="payment-info">
            <h2>Payment Information</h2>
            <!-- Formulaire de paiement -->
            <form id="payment-form">

                 <!-- Champ pour le numéro de carte -->
                <input type="text" id="card-number" placeholder="Numéro de carte" required>

                <!-- Champ pour le titulaire de la carte -->
                <input type="text" id="card-holder" placeholder="Titulaire de la carte" required>

                <!-- Champ pour la date d'expiration de la carte -->
                <input type="text" id="card-expiry" placeholder="Date d'expiration" required>

                <!-- Champ pour le CVC de la carte -->
                <input type="text" id="card-cvc" placeholder="CVC" required>

                <!-- Bouton de paiement -->
                <button type="submit" id="payButton">Pay</button>
                
            </form>
        </div>
    </div>


    <!-- Popup -->
    <div id="popup">
        <p>Achat validé</p>
    </div>

    <!-- Scripts -->
    <script src="/js/checkout.js"></script>

</body>
</html>