@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box; /* Ajouté pour inclure le padding et border dans la largeur/hauteur d'un élément */
}

body, html {
    height: 100%; /* S'assure que le body prend toute la hauteur de la page */
    display: flex;
    justify-content: center;
    align-items: center; /* Centrage horizontal et vertical */
    background-color: #fae3ea;
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alignement vertical en haut pour les deux fenêtres */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur des écrans plus petits */
    gap: 20px; /* Espace entre les éléments */
    padding: 20px;
    max-width: 1200px; /* Largeur maximale du conteneur */
    width: 100%; /* Adapte la largeur à celle de l'écran */
}

.order-summary, .payment-info {
    background: #fcfcfc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1; /* Les éléments prennent une partie égale de l'espace disponible */
    min-width: 300px; /* Largeur minimale pour la responsivité */
}

.order-summary h2, .payment-info h2 {
    margin-bottom: 20px;
}

.item {
    margin-bottom: 10px;
}

.total {
    margin-top: 20px;
    font-weight: bold;
}

#payment-form {
    display: flex;
    flex-direction: column;
}

#payment-form input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

#payment-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#payment-form button:hover {
    opacity: 0.9;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
}
